*{
    margin: 0px;
}

body{
    background-color:#E9EBEE;
}

.maindiv{
    border: 1px solid black;
    height: 100px;
    background-color: #4E69A2;
}
h1{
    color: white;
    font-family: sans-serif;
    margin-left: 130px;
    margin-top: 50px;
}
.right{
    float: left;
}
 .left{
     
     float: left;
     margin-left: 450px;
     margin-top: 30px;
 }
 .left1{
     float: left;
 }
.left2{
    float: left;
}
.left3{
    float: left;
    margin-left: 200px;
    margin-top: -45px;
    
}
.text1{
    font-family: sans-serif;
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 5px;
    margin-left: 2px;
}
.input2{
    margin-left: 10px;
}
.text2{
    color: blanchedalmond;
    font-family: sans-serif;
    margin-top: 5px;
    margin-left: 3px;
}
.login{
    background-color: #4267B2;
    color: burlywood;
}
.main2{
    float: left;
}
.right1{
    /* float: left; */
}
.right2{
    float: left;
    
}
.left4bottom{
    float: left;
    
    margin-top: -60px;
    margin-left: 50px;
}
form{
    background-color: ;
}
h4{
    font-family: sans-serif;
    font-size: 16px;
    color:white;
}
h2{
    font-size: 26px;
    margin-top: -50px;
}

.name{
    width: 200px;
    height: 30px;
}
.name1{
    width: 400px;
    margin-top: 5px;
    height: 30px;
}



.sideimage{
    width: 530px;
    height: 300px;
    margin-left: 150px;
    margin-top: 10px;
}
h4{
    /* color: white; */
    font-family: sans-serif;
    margin-top: 100px;
    margin-left: 120px;
    color:rgb(124, 118, 106);
}
b{
    color:gray;
    
}
.textlast{
    margin-top: 30px;
    font-family: sans-serif;
    font-size: 10px;
}
.sub{
    height: 30px;
    width: 180px;
    margin-top: 15px;
    background-color: #68A153;
    border-radius: 5px;
    color: white;
}
.stro{
    margin-top: 30px;
}
.in{
    display: inline;
    margin-left: 15px;
}